/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# build files using debuild for deb package creation
debian/cmprovision4
debian/files
debian/*.log
debian/*.debhelper
debian/cmprovision4.substvars